/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-image:url("world-map6.png");
	-fx-background-size:cover;
} 

/*#backButton, #createProfileButton, #playButton */
.button{
	-fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}
.button:hover {
    -fx-background-color: 
        linear-gradient(#ccad4e, #a36b00),
		linear-gradient(#d6d09c, #c48938),
		linear-gradient(#d4a962, #d08c1e),
		linear-gradient(#ccbd4f 0%, #d4a101 50%, #bf8f0a 100%),
		linear-gradient(from 0% 0% to 15% 50%, rgba(204,204,204,0.9), rgba(204,204,204,0.1));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}
.label{
	-fx-text-fill: white;

}
